/* Start: Main Secties */
body {
    background-color: #f0eff1;
    font-family: sans-serif;
}
/* End: Main Secties */

/* Start: Main Form */
.main_container {
    width: 400px;
    height: 315px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}
/* End: Main Form */

/* Start: Text */
h1 {
    font-size: 40px;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: 	#181818;
    margin-bottom: 15px;
}

span {
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #ff5e5e;
}
/* End: Text */

/* Start: Form */
input {
    width: 100%;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

label {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

input[type=submit] {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 33px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 101%;
    opacity: 0.9;
    font-size: 16px;
    border-radius: 3px;
    padding: 0;
}

input[type=submit]:hover {
    opacity: 1;
}

i {
    font-size: 20px;
    margin-right: 10px;
}

.main_container span {
    display: none;
}

/* End: Form */