body {
    background-color: #f0eff1;
}

/* Start: Text */
h1 {
    font-size: 40px;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: 	#181818;
    margin-bottom: 15px;
}
/* End: Text */

/* Start: Main Container */
.main_container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 1040px;
    margin: auto;
    border-radius: 10px;
    font-family: sans-serif;
}
/* End: Main Container */

/* Start: Players */
.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 600px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.player_boxes {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.player1, .player2 {
    width: 45%;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}

.player1 span, .player2 span {
    display: block;
    font-size: 22px;
    color: #181818;
}

.wins1 span, .wins2 span {
    margin-top: 0;
}

.player1 {
    background-color: #ff5e5e;
}

.player2 {
    background-color: #5ad05e;
}
/* End: Players */

/* Start: Aan Zet */
.aanzet {
    width: 350px;
    margin-left: 50px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.aanzet span {
    display: block;
    font-size: 22px;
}

.aanzet span:first-child {
    padding-top: 14px;
}
/* End: Aan Zet */

/* Start: TicTacToe Veld */
.tictactoe {
    height: 600px;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;}
/* End: TicTacToe Veld */

/* Start: Chat */
.chatbox_container {
    padding: 40px 10px 10px 10px;
    width: 350px;
    height: 570px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chatbox {
    border: 1px solid;
    height: 480px;
    width: 77%;
    padding: 0 15px;
    overflow-y: scroll;
}

.msg_send {
    border: 1px solid;
    height: 25px;
    width: 60%;
}

.send_btn {
    background-color: #ee6964;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.9;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 10px;
    height: 30px;
}

.send_btn:hover {
    opacity: 1;
}

.msg {
    border-radius: 10px;
    padding: 8px;
    width: 94%;
    word-wrap: break-word;
}

.msg1 {
    background-color: #ff5e5e;
}

.msg2 {
    background-color: #5ad05e;
}

p {
    display: block;
}

#chatform {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

/* End: Chat */

/* Begin: TicTacToe Buttons */
.ttt_btn {
    width: 180px;
    height: 180px;
    border: 1px solid;
    background-color: #fff;
    outline: none;
    font-size: 60px;
}
/* End: TicTacToe Buttons */